
@{
    ViewBag.Title = "Home page";
}

</br>
<img src="~/Content/Logo.jpg"  style="margin-left: 28%;width:512px;height:256px;">
<div class="jumbotron">
    <h1>Juego</h1>
    <p>Instructivo del juego</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://localhost:14586/QEQ/Login">Loguearse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="" style="margin-left:40%">About &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="" style="margin-left:60%">Instrucciones &raquo;</a></p>
    </div>
</div>

