@using QEQ1.Models
@model Categorias
@{
    ViewBag.Title = "EdicionCategoria";
}

<h2>EdicionCategoria</h2>
@using (Html.BeginForm("EdicionCategoria", "Backoffice", FormMethod.Post))
{
    <tr>
        <td> @Html.LabelFor(x => x.NombreCategoria)</td>
        <td> @Html.TextBoxFor(x => x.NombreCategoria) </td>
        <td> @Html.ValidationMessageFor(x => x.NombreCategoria)</td>
        <input type="submit" value="Modificar categoria" />
    </tr>
}
