@using QEQ1.Models
@{
    ViewBag.Title = "EdicionCategoria";
}
<body style="background-color:powderblue;"></body>
    <h2>EdicionCategoria</h2>

<table style="width:100%">
    @foreach (Categorias ct in ViewBag.Categorias)
    {
    <tr>
        <th>@ct.NombreCategoria</th>
        <th>@Html.ActionLink("Eliminar", "EdicionCategoria", "Backoffice", new { Accion = "Eliminar", Id = ct.IDCategoria }, null)</th>
    </tr>
    }
</table>