
@{
    ViewBag.Title = "Menu";
}
<body style="background-color:powderblue;">
</body>
<h2>Menu</h2>
<br />
<p><a class="btn btn-default" href="@Url.Action("ABMCategorias","Backoffice")">EditarCategorias &raquo;</a></p>
<br />
<p><a class="btn btn-default" href="@Url.Action("ABMPersonajes","Backoffice")">Editar personajes &raquo;</a></p>
<br />
<p><a class="btn btn-default" href="@Url.Action("ABMPreguntas","Backoffice")">Editar preguntas &raquo;</a></p>



